<script lang="ts">
	export let description: string;
	export let title: string;
	export let video_src: string;

	const text_arr = description.split(' ');
	const text_small = text_arr.slice(0, text_arr.length - 1).join(' ');
	const text_big = text_arr.at(text_arr.length - 1);
</script>

<svelte:head>
	<title>{title}</title>
	<meta name="description" content={description} />
</svelte:head>

<header>
	<video autoplay loop muted playsinline>
		<source src={video_src} />
	</video>
	<div>
		<h1>{text_small} <span>{text_big}</span></h1>
	</div>
</header>

<style>
	:global(html),
	:global(body) {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	:global(html) {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
			'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
		font-size: 150%;
		line-height: 1.4;
	}

	header,
	video,
	div {
		position: absolute;
		text-align: center;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
	}

	video {
		background: brown;
		object-fit: cover;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h1 {
		font-family: 'Syncopate', sans-serif;
		color: white;
		text-transform: uppercase;
		letter-spacing: 3vw;
		line-height: 1.2;
		font-size: 3vw;
		text-align: center;
	}

	h1 span {
		display: block;
		font-size: 10vw;
		letter-spacing: unset;
		text-shadow: 1px 0 20px #444;
	}
</style>
